body,
html {
	width: 100%;
	height: 100%;
	background: url(microgreens.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	font-family: "Jura", sans-serif;
	}

h1 {
	font-size: 3rem;
	color: #536B4B;
	text-shadow: 2px 2px 4px white;
}


.buffer-one {
	height: 5rem;
}

.buffer-two	{
	height: 3rem;
}

.btn{
	font-weight: 700;
	border-radius: 300px;
}

.btn-primary {
	background-color: #FF881E;
	border-color: #FF881E;
	transition: all 0.3s;
}

.btn-primary:hover {
		background-color: #FF7800;
		border-color: #FF7800;
		-webkit-transform:scale(1.1, 1.1);
    	-moz-transform:scale(1.1, 1.1);
    	-o-transform:scale(1.1, 1.1);
		transform:scale(1.1, 1.1);
    	
}


.btn-xl {
	padding: 1rem 2 rem;
}